.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1d595e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #143109; /* Dark background */
  padding: 20px;
  text-align: center;
  color: #f0f7f4; /* Light text color */
}

.App-header h1 {
  margin: 0;
  font-size: 2rem;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #143109; /* Dark green background */
  color: #f0f7f4; /* Light text color */
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.credits {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #000000;
}

.credits h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.credits p {
  margin: 0;
  font-size: 1em;
}

body {
  font-family: 'Dancing Script', cursive; /* Apply Dancing Script font */
}
