.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1d595e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #143109; /* Dark background */
  padding: 20px; /* Adjust padding if needed */
  color: #f0f7f4; /* Light text color */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  justify-content: space-around; /* Space out items evenly */
}

.App-header h1 {
  margin: 0;
  font-size: 2rem;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #143109; /* Dark green background */
  color: #f0f7f4; /* Light text color */
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.credits {
  text-align: left; /* Align text to the left */
  padding: 20px;
}

.credits h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.credits p {
  margin: 0;
  font-size: 1em;
}

.credits ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  display: flex; /* Use flexbox for horizontal layout */
  flex-wrap: wrap; /* Allow wrapping if needed */
  justify-content: flex-start; /* Align items to the left */
}

.credits li {
  margin: 0 10px; /* Add horizontal spacing between items */
  font-size: 1.2em;
  color: #fff; /* Adjust color as needed */
}

.credits a {
  color: #ffcc00; /* Bright yellow color for better contrast */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.credits a:hover {
  color: #ff9900; /* Slightly darker yellow on hover */
}

body {
  font-family: "Dancing Script", cursive; /* Apply Dancing Script font */
}

.logo {
  width: 100px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 2px solid rgba(255, 255, 255, 0.2); /* Light border to blend with background */
}

.tabs button {
  background-color: #143109;
  color: #f0f7f4;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.tabs button:hover {
  background-color: #1d595e;
  transform: translateY(-2px); /* Slight lift on hover */
}

.tabs button:focus {
  outline: none;
  background-color: #1d595e;
  box-shadow: 0 0 0 3px rgba(29, 89, 94, 0.5); /* Focus ring */
}
